* {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: 'Arial';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* menu */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
    background: #1d1e20;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}


/* Grid */

.estrutura {
    max-width: 94%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
}

.video,
.item {
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    height: 60vh;
}

.item {
    height: 20vh;
    margin-bottom: 20px;
}

